version: '3.8'

services:
  db:
    image: mysql:8
    container_name: bank_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: ${DB_DATABASE}
    ports:
      - "3307:3306"
    volumes:
      - bank_data:/var/lib/mysql

  api:
    build: .
    container_name: bank_api
    depends_on:
      - db
    environment:
      DB_HOST: ${DB_HOST}
      DB_PORT: ${DB_PORT}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_DATABASE: ${DB_DATABASE}
    ports:
      - "8000:8000"
    volumes:
      - .:/app

volumes:
  bank_data:

